<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>L U N C H B O X</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="shortcut icon" href="/images/icon_fork.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="icon"></div>
      <h1 class="appTitle">L U N C H B O X</h1>
      <p class="sub">Share Delicious!</p>
      <ul id="userGnb">
        <li><a href="/signin" class="btnSignIn">Sign in</a></li>
        <li><a href="/signup" class="btnSignUp">Sign up</a></li>
      </ul>
    </header>
  </body>
</html>
