<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>L U N C H B O X</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="shortcut icon" href="/images/icon_fork.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header id="subHeader">
      <a class="logo" href="/">
        <div class="logoIcon"></div>
        <h1 class="logoTxt">l u n c h b o x</h1>
      </a>
      <div id="subGnb">
        <ul class="subGnbList">
          <li><a href="/">main</a></li>
          <li><a href="/placelist">place</a></li>
          <li><a href="/recipelist">recipe</a></li>
          <li><a href="/snackgame">snackgame</a></li>
        </ul>
      </div>
    </header>
  </body>
</html>
