<%- include("includes/header"); %>
<main id="main">
  <section id="place">
    <div class="wrap">
      <h2 class="secTitle">place</h2>
      <p class="sub">여러분의 맛집을 공유해주세요!</p>
    </div>
    <div class="contents">
      <div class="more"><a href="">more</a></div>
      <ul class="placeList"></ul>
    </div>
  </section>
  <section id="recipe">
    <div class="wrap">
      <h2 class="secTitle">recipe</h2>
      <p class="sub">여러분의 레시피를 공유해주세요!</p>
    </div>
    <div class="contents">
      <div class="more"><a href="">more</a></div>
      <ul class="recipeList"></ul>
    </div>
  </section>
  <section id="snackGame"></section>
</main>
<%- include("includes/footer"); %>
