<%- include("includes/subHeader"); %>

<main id="signform">
  <div class="contents">
    <h2 class="title">회원가입</h2>
    <form action="/signup" method="POST" class="signUpForm">
      <div class="inputBox">
        <label>
          <span class="label must">ID</span>
          <input type="text" name="userID" id="userID" placeholder="ID를 입력하세요." />
          <button class="btnDupCheck">아이디 중복체크</button>
        </label>
        <label>
          <span class="label must">비밀번호</span>
          <input type="password" name="userPassword" id="userPassword" placeholder="비밀번호를 입력하세요." />
          <button class="btnVisibility">visibility_off</button>
        </label>
        <label>
          <span class="label must">비밀번호 확인</span>
          <input type="password" name="userPassword" id="userPasswordConfirm" placeholder="비밀번호를 입력하세요." />
          <button class="btnVisibility">visibility_off</button>
        </label>
        <label>
          <span class="label">e-mail</span>
          <input type="text" name="userEmail" id="userEmail" placeholder="e-mail을 입력하세요." />
        </label>
        <div class="btns">
          <button type="submit" class="btn btnSignUp">가입</button>
          <button type="reset" class="btn btnCancel">취소</button>
        </div>
      </div>
    </form>
    <a href="/signin" class="moveTo signIn">로그인 하러가기</a>
  </div>
</main>

<%- include("includes/footer"); %>

<script>
  $(".btnVisibility").on("click", function () {
    event.preventDefault();
    $("#userPassword").toggleClass("active");
    if ($("#userPassword").hasClass("active")) {
      $(this).text("visibility").prev("input").attr("type", "text");
    } else {
      $(this).text("visibility_off").prev("input").attr("type", "password");
    }
    $("#userPasswordConfirm").toggleClass("active");
    if ($("#userPasswordConfirm").hasClass("active")) {
      $(this).text("visibility").prev("input").attr("type", "text");
    } else {
      $(this).text("visibility_off").prev("input").attr("type", "password");
    }
  });
</script>
